/* 
    color scheme
    #22223b dark blue
    #4a4e69 blue purple
    #9a8c98 lavendar
    #c9ada7 pink purple
    #f2e9e4 white
*/
footer {
    height: 10vh;
    min-height: 50px;
    background-color: #c9ada7;
}
header {
    height: 10vh;
    min-height: 50px;
    background-color: #c9ada7;
}
main {
    height: 80vh;
    min-height: 300px;
    background-color: #f2e9e4;
}

/* classes */
.flex-row-evenly-center {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    align-items: center;
}
.flex-column-center-center {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.icons {
    color: #22223b;
}
.icon-div {
    width: 100px;
}

/* ids */