.calendar-grid {
    display: grid;
    justify-content: center;
    grid: repeat(6, 1fr)/ repeat(7,1fr);
    width: 1190px;
    height: 600px;
    /* border: 1px black solid; */
}
.date-link {
    display: flex;
    width: 33px;
    height: 33px;
    margin: 5px;
    border: 1px solid black;
    border-radius: 50%;
    justify-content: center;
    text-align: center;
    align-items: center;
}